*{
    margin: 0;
    padding: 0;
}

#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    height: auto;
    background: tomato;  
    -webkit-transition: bottom 2s;
    transition: bottom 2s;
}

.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav a{
    float: right;
    text-align: left;
    display: flex;
    
}

#nav-bar ul li a:hover{
    color: #007bff!important;
}

.navbar {
    background: #fff;
}
.navbar-toggler{
    border: none!important;
}
.nav-link {
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
}
/*-----Slider-----*/
#slider{
    width: 100%;
}
.carousel-caption{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial!important;
}
.carousel-caption h2{
    color: white;
    font-size: 100px;
}
/*-----------About------------*/
#about{
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.8)),url(free2.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}
#about .btn{
    margin-top: 20px;
    margin-bottom: 30px;
}
.about-content{
    padding-bottom: 20px;
}

#about .center-block{
    margin-top: 5px;
    margin-left: 90px;
    height: 500px;
    width: 300px;
    object-fit: cover;
}

#about h2{
    color: white
}

#about .about-contenet{
    color: white
}



/*---------Technical Sills--------------*/
#services{
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.8)),url(free3.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}
#services h1{
    text-align: center;
    color: white !important;
    padding-bottom: 10px
}
#services h1::after{
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.services{
    margin-top: 40px;
}
.icon{
    font-size: 50px;
    margin: 50px auto;
    padding: 20px;
    height: 80px;
    width: 80px;
}
#services H3{
    font-size: 20px;
    margin-top: 10px;
    color: #ccc;
}
#services H2{
    margin: 5px;
    font-size: 20px;
    margin-top: 10px;
    color: #ccc;
}

/*----YouTube----*/
#youtube{
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
    text-align: center;
    display: block;
    color: #efefef !important;
}

#youtube h1{
    color: white !important;
}



#youtube h1::after{
    background: #efefef;
}

/*----YouTube Content----*/
#youtube_content{
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.8)),url(free1.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding-top: 100px;
    padding-bottom: 100px;
}




/*----Contact Memeber----*/
#contact{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
    text-align: center;
    display: block;
}
h1{
    text-align: center;
    color: #555 !important;
    padding-bottom: 10px;
}
h1::after{
    content: '';
    background: black;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
    
}
#contact .center-block{
    margin-top: 50px;
    filter: grayscale(1);
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 200px;
}


#contact .fab{
    font-size: 32px;
    height: 25px;
    width: 10px;
    color: grey;
    background: #fff;
    padding: 4px;
}


ul li{
    padding: 15px;
    display: inline-block;
}

